@import "../dist/webkit-sassui-money.scss";
body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h2{
  border-bottom: 1px solid #eee;
}
.test-webkit-sassui-money{
  @include webkit-sassui-money(#f00,5px,middle);
  >.yen{
    font-size: 1.4em;
  }
  >.num{
    font-size: 3em;
  }
}

.test-webkit-sassui-money-bt{
  @include webkit-sassui-money(#f00,5px,bottom);
  >.yen{
    font-size: 1.4em;
  }
  >.num{
    font-size: 3em;
  }
}


.test-webkit-sassui-money-bst{
  @include webkit-sassui-money(#f00,5px);
  >.yen{
    font-size: 1.4em;
  }
  >.num{
    font-size: 3em;
  }
}
