/*webkit-sassui-money Start*/
/*webkit-sassui-money End*/
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
  border-left: 3px solid #ccc;
  padding: 0 0 5px 10px;
}

.test-webkit-sassui-money {
  font-size: 10px;
  color: #f00;
}

.test-webkit-sassui-money > * {
  vertical-align: middle;
  display: inline-block;
}

.test-webkit-sassui-money > .yen {
  font-size: 1.2em;
  margin-right: 5px;
}

.test-webkit-sassui-money > .num {
  font-size: 1.5em;
}

.test-webkit-sassui-money > .yen {
  font-size: 1.4em;
}

.test-webkit-sassui-money > .num {
  font-size: 3em;
}

.test-webkit-sassui-money-bt {
  font-size: 10px;
  color: #f00;
}

.test-webkit-sassui-money-bt > * {
  vertical-align: bottom;
  display: inline-block;
}

.test-webkit-sassui-money-bt > .yen {
  font-size: 1.2em;
  margin-right: 5px;
}

.test-webkit-sassui-money-bt > .num {
  font-size: 1.5em;
}

.test-webkit-sassui-money-bt > .yen {
  font-size: 1.4em;
}

.test-webkit-sassui-money-bt > .num {
  font-size: 3em;
}

.test-webkit-sassui-money-bst {
  font-size: 10px;
  color: #f00;
}

.test-webkit-sassui-money-bst > * {
  vertical-align: baseline;
  display: inline-block;
}

.test-webkit-sassui-money-bst > .yen {
  font-size: 1.2em;
  margin-right: 5px;
}

.test-webkit-sassui-money-bst > .num {
  font-size: 1.5em;
}

.test-webkit-sassui-money-bst > .yen {
  font-size: 1.4em;
}

.test-webkit-sassui-money-bst > .num {
  font-size: 3em;
}
