/*webkit-sassui-money Start*/
@mixin webkit-sassui-money($inColor:#FF5000,$inGap:2px,$inAlign:baseline){
  //Your mixin code goes here.
  font-size: 10px;
  color:$inColor;
  &>*{
    vertical-align: $inAlign;
    display: inline-block;
  }

  >.yen{
    font-size: 1.2em;
    margin-right: $inGap;
  }
  >.num{
    font-size: 1.5em;
  }
}
/*webkit-sassui-money End*/
